h1 {
  color: red;
}

#green {
  color: green;
}

.bold-italic {
  font-weight: bold;
  font-style: italic;
}

li > blockquote {
  text-decoration: underline;
}

body blockquote {
  background-color: grey;
}
div {
  border: 6px solid #949599;
  height: 100px;
  margin: 20px;
  padding: 20px;
  width: 400px;
}
* {
  box-sizing: border-box;
}
