body{
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.5;
}
h1 {
  color: red;
}
#first-line {
  color: green;
}
.dateYear {
  font-weight: bold;
  font-style: italic;
}
li > blockquote {
  text-decoration: underline;
}
body blockquote {
background-color: gray;
 }
