h1{
  color: red
}
#happy-matt{
  color: green
}
.bold-and-italic{
  font-weight: bold;
  font-style: italic;
}
.parent-class > li{
  color: #FFA07A;
}
body blockquote{
  background-color: #B0C4DE
}
body{
  font-family: sans-serif;
  line-height: 1.5
}
