h1 {
  color: red;
}

#list-item-1 {
  color: green;
}

.date {
  font-weight: bold;
  font-style: italic;
}

ul > #font-color {
  color: pink;
}

li blockquote {
  background-color: gray;
}

body {
  font-family: helvetica, sans-serif;
  line-height: 20px;
}
