@import url(https://fonts.googleapis.com/css?family=Oswald);

li, blockquote {
  line-height: normal;
}

h1 {
  color: red;
}
#green {
  color: green;
}
.chrono {
  font-weight: bold;
  font-style: italic;
}
li > div {
  color: pink;
}
body blockquote {
  background-color: gray;
}
